.photo-card {
	background-color: #1d3e81;
	color: #e8eff0;
	padding: 0.5rem 2rem 1.5rem 2rem;
	border-radius: 2rem;
	margin: 0 0 10px 0;
	text-align: center;
}

.photo-card a {
	color: #e8eff0;
}
.photo-card img {
	width: 100%;
}

.photo-card p {
	text-align: justify;
}

.photo-card .content {
	display: block;
	text-align: center;
}

/* Your code here */

@media (width >= 750px) and (width <= 1200px) {
	.photo-card .content {
		display: flex;
	}

	.photo-card img {
		width: 300px;
		height: 400px;
	}

	.photo-card p {
		float: right;
		margin: 30px 20px;
		font-size: 20px;
	}

	.photo-card {
		display: flex;
		flex-direction: column;
	}

	.photo-card h3 {
		align-self: flex-start;
	}

	.photo-card a {
		align-self: flex-start;
		margin-top: 8px;
	}
}

@media (width >= 1200px) and (width <= 1600px) {
	.photo__section {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		align-items: center;
	}

	.photo-card {
		width: 40%;
		margin: 20px;
	}

	.photo-card {
		background-color: #1d3e81;
		color: #e8eff0;
		padding: 0.5rem 2rem 1.5rem 2rem;
		border-radius: 2rem;
		text-align: center;
		min-height: 1000px;
	}

	.photo-card a {
		color: #e8eff0;
	}
	.photo-card img {
		width: 100%;
	}

	.photo-card p {
		text-align: justify;
	}

	.photo-card .content {
		display: block;
		text-align: center;
	}
}

@media (width >= 1600px) {
	.photo-card .content {
		display: flex;
	}

	.photo-card img {
		width: 200px;
		height: 300px;
	}

	.photo-card p {
		float: right;
		margin: 0 20px;
		font-size: 18px;
	}

	.photo-card {
		display: flex;
		flex-direction: column;
		width: 40%;
		height: 400px;
		margin: 20px;
	}

	.photo-card h3 {
		align-self: flex-start;
	}

	.photo-card a {
		align-self: flex-start;
		margin-top: 8px;
	}

	.photo__section {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		align-items: center;
	}
}
